@import "styles/variables";
@import "styles/mixins";

.Header {
  @include font-montserrat;

  &__wrapper {
    padding: $doubleSpace;
    max-width: 1440px;
    margin: 0 auto;

    @media (min-width: $tablet) {
      display: flex;
    }
  }

  &__logo {
    display: block;
    width: 96px;
  }

  &__menu {
    a {
      color: $black;
    }

    @media (max-width: $to-tablet) {
      display: none;
      position: absolute;
      top: 64px;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      padding: $doubleSpace;
    }

    @media (min-width: $tablet) {
      margin-left: auto;

      li {
        display: inline-block;
      }
    }

    &__item {
      display: block;

      @media (max-width: $to-tablet) {
        line-height: 4;
      }

      @media (min-width: $tablet) {
        padding: 15px $space;
        font-size: 14px;
      }

      @media (min-width: 850px) {
        padding: 14px $space;
        font-size: 16px;
      }

      @media (min-width: $desktop) {
        padding: 14px $tripleSpace;
      }

      &__ghcallout {
        @media (min-width: $tablet) {
          padding: 11px 16px;
          margin: 3px 12px;
          background: $blue;
          border-radius: 21px;
          font-weight: bold;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  &_open &__menu {
    display: block;
  }

  &__navtrigger {
    height: 40px;
    width: 40px;
    position: absolute;
    top: $doubleSpace;
    right: $doubleSpace;
    overflow: hidden;
    background: #fff;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 10px;
      width: 20px;
      height: 2px;
      background: #000;
      transition: transform 0.3s ease-out;
    }

    &::after {
      top: auto;
      bottom: 15px;
    }

    > span {
      position: absolute;
      left: -300px;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &_open &__navtrigger::before {
    transform: translateY(3px) rotate(135deg);
  }

  &_open &__navtrigger::after {
    transform: translateY(-5px) rotate(45deg);
  }
}
