@import "styles/variables";

.Layout {
  margin: 0 auto;
  padding: 0 $doubleSpace;
  max-width: $maxWidth + ($doubleSpace * 2);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1 0 auto;
  }
}
