@import "styles/mixins";

.LinkButton {
  @include font-montserrat;
  position: relative;
  background: $blue;
  color: #fff;
  font-weight: bold;
  line-height: 88px;
  display: block;
  padding: 0 $quadSpace;
  margin: 50px 0;

  @media (min-width: $tablet) {
    width: 370px;
  }

  svg {
    position: absolute;
    right: 32px;
    top: 35px;
  }
}
