@import "styles/variables";
@import "styles/mixins";

.Blog {
  @include grid-wrapper;
  @include font-playfair;

  h1 {
    font-size: 33px;
    line-height: 54px;
    margin: 50px 0 70px;
    padding-bottom: $doubleSpace;
    position: relative;

    &:after {
      content: "";
      width: 83px;
      height: 4px;
      background: $blue;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 100px;
    }

    @media (min-width: $tablet) {
      margin: 70px 0 100px;
      padding-bottom: $quadSpace;
    }

    @media (min-width: $desktop) {
      font-size: 66px;
      line-height: 108px;
      margin: 100px 0 150px;
      padding-bottom: $quadSpace;
    }
  }

  h2 {
    font-size: 28px;
    margin-bottom: 1em;

    @media (min-width: $desktop) {
      font-size: 46px;
    }
  }

  &__postlist {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 45px;
    }

    @media (min-width: $desktop) {
      gap: 90px;
    }

    &__item {
      margin-bottom: 60px;

      > a {
        display: block;
      }

      h2 {
        font-weight: normal;
      }

      img {
        max-width: 100%;
        margin-bottom: $doubleSpace;
      }
    }
  }

  &__post {
    &__meta {
      color: $textSecondary;
      font-size: 14px;
      margin-bottom: $quadSpace;

      &__author span {
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    &__image {
      max-width: 100%;
      margin: $quadSpace 0 60px;

      @media (min-width: $desktop) {
        margin: $quadSpace 0 120px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      max-width: 640px;
      margin: 0 auto;

      @media (min-width: $desktop) {
        max-width: 840px;
      }
    }

    p {
      font-size: 18px;
      line-height: 1.7;
      margin-bottom: 1em;

      @media (min-width: $tablet) {
        font-size: 20px;
      }

      @media (min-width: $desktop) {
        font-size: 28px;
      }
    }
  }
}
