@import "styles/variables";
@import "styles/mixins";

.Index {
  &__wrapper {
    @include grid-wrapper;
  }

  &__header {
    @include font-montserrat;
    color: #fff;
    padding: 50px 0 30px;

    @media (min-width: $tablet) {
      padding: 50px 0 50px;
    }

    @media (min-height: 1500px) {
      padding: 150px 0 120px;
    }

    @at-root :global(.bg1) & {
      background: url("/cover1_mobile.jpg") no-repeat top right / cover;

      @media (min-width: $tablet) {
        background: url("/cover1.jpg") no-repeat top center / cover;
      }
    }

    @at-root :global(.bg2) & {
      background: url("/cover2_mobile.jpg") no-repeat top center / cover;

      @media (min-width: $tablet) {
        background: url("/cover2.jpg") no-repeat top center / cover;
      }
    }

    h1 {
      font-size: 32px;
      font-weight: 500;
      max-width: 670px;

      @media (min-width: $tablet) {
        font-size: 56px;
      }
    }

    &__byline {
      font-size: 20px;
      line-height: 1.5;
      max-width: 670px;
      margin-top: $space * 4;

      @media (min-width: $tablet) {
        font-size: 28px;
      }

      @media (min-height: 1500px) {
        margin-top: $space * 4;
      }

      a,
      a:hover {
        color: #fff;
      }
    }

    &__logos {
      display: flex;
      justify-content: center;

      @media (min-width: $tablet) {
        justify-content: left;
      }

      @media (min-width: $desktop) {
        float: right;
        margin: -155px 50px 0 0;
      }

      @media (min-height: 1500px) {
        float: none;
        margin: 0;
      }
    }

    &__logo {
      height: 60px;
      width: 60px;
      background: #fff;
      border-radius: 50%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        margin-top: -3px;
        height: 70%;
      }

      &:first-child {
        margin-right: $tripleSpace;
      }

      @media (min-width: $tablet) {
        margin-top: 30px;
        height: 100px;
        width: 100px;

        > img {
          margin-top: -7px;
        }
      }

      @media (min-width: $desktop) {
        margin-top: 0;
        height: 120px;
        width: 120px;
      }

      @media (min-height: 1500px) {
        margin-top: 50px;
      }
    }

    &__callouts {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $to-tablet) {
        flex-direction: column;
      }

      @media (min-width: $tablet) {
        flex-direction: row;
      }

      @media (min-height: 1500px) {
        margin-top: 220px;
      }
    }

    &__callout {
      background: #fff;
      border-radius: 100px;
      text-transform: uppercase;
      color: $blue;
      font-weight: bold;
      padding: $doubleSpace 0;
      width: 255px;
      text-align: center;

      &:first-child {
        @media (max-width: $to-tablet) {
          margin-bottom: $quadSpace;
        }
        @media (min-width: $tablet) {
          margin-right: $quadSpace;
        }
      }
    }
  }

  &__quicklinks {
    @include font-montserrat;
    background: #f9f9f9;
    padding: 50px 0;
    font-size: 20px;
    text-align: center;

    @media (min-width: $tablet) {
      padding: 100px 0 90px;
    }

    @media (min-width: $desktop) {
      font-size: 24px;
    }

    ul {
      @media (min-width: $tablet) {
        display: flex;
        justify-content: center;
      }

      li:not(:last-child) {
        margin-bottom: 30px;

        @media (min-width: $tablet) {
          margin: 0 4% 0 0;
        }

        @media (min-width: $desktop) {
          position: relative;
          margin: 0;
          padding-right: 160px;

          &:after {
            content: "";
            background: #7d7d7d;
            height: 112px;
            width: 1px;
            position: absolute;
            right: 80px;
            top: 54px;
          }
        }
      }

      img {
        display: block;
        margin: 0 auto;
      }

      p {
        max-width: 220px;
        margin: $doubleSpace auto 0;

        @media (min-width: $tablet) {
          margin: $quadSpace auto 0;
        }
      }
    }

    &__text {
      color: $textSecondary;
      margin-top: 60px;

      @media (min-width: $desktop) {
        margin-top: 80px;
      }
    }
  }

  &__bullets {
    margin: 60px 0;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      column-gap: $doubleSpace;
      row-gap: $doubleSpace;
      justify-items: center;
    }

    @media (min-width: $desktop) {
      margin: 100px 0;
      grid-template-columns: repeat(3, 3fr);
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $doubleSpace;
      text-align: center;
      transition: box-shadow 0.4s ease-in-out;
      margin-bottom: $quadSpace;

      @media (min-width: $tablet) {
        max-width: 380px;
        height: 380px;
        margin-bottom: 0;
      }

      @media (min-width: $desktop) {
        &:hover {
          box-shadow: -20px 60px 110px rgba(0, 0, 0, 0.15);
        }
      }
    }

    h2 {
      @include font-montserrat;
      font-size: 29px;
      line-height: 38px;
      margin-bottom: $doubleSpace;

      @media (min-width: $tablet) {
        margin-bottom: 68px;
      }
    }

    p {
      color: $textSecondary;
      font-size: 20px;
      line-height: 1.7;
    }
  }

  &__spark {
    text-align: center;

    h2 {
      @include font-montserrat;
      font-size: 32px;
      line-height: 39px;
      position: relative;
      margin-top: 100px;

      @media (min-width: $tablet) {
        margin-top: 0;

        &:before,
        &:after {
          content: "";
          background: #7d7d7d;
          width: 20%;
          height: 1px;
          position: absolute;
          left: 20px;
          top: 50%;

          @media (min-width: $desktop) {
            width: 25%;
          }
        }

        &:after {
          right: 20px;
          left: auto;
        }
      }
    }

    p {
      color: $textSecondary;
      font-size: 24px;
      line-height: 40px;
      margin-top: 20px;

      @media (min-width: $tablet) {
        margin-top: 56px;
      }
    }
  }
}
