@import "./reset";
@import "./fonts";
@import "./variables";

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html,
body,
#__next {
  min-height: 100vh;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll; // always show the vertical scrollbar so that content doesn't jump

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

// inherited from <html>
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 16px/1.5 "Roboto", sans-serif;
  text-size-adjust: 100%; // iOS on orientation change
  color: $black;
}

a {
  color: $black;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #000;
}

code {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0 4px;
  background: #fdfdfd;
  border: 1px solid #cecece;
}
