$space: 8px;
$halfSpace: $space/2;
$doubleSpace: $space * 2;
$tripleSpace: $space * 3;
$quadSpace: $space * 4;

$maxWidth: 1280px;

// breakpoints
$mobile: 420px;
$to-tablet: 719px; // up to tablet size (use with max-width)
$tablet: 720px; // from tablet size and up
$desktop: 1080px;

$black: #191a1c;
$blue: #0062ff;
$textSecondary: #7d7d7d;

$basicBorder: 1px solid #dee2e6;
